html {
    scroll-behavior: smooth;
}

.b-radius {
    border-radius: 10px !important;
}

.about-bg {
    width: 100vw;
    height: 100vh;
    background-color: #1a2b3cac;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.about-today {
    height: 400px;
    background-repeat: no-repeat;
    background-size: auto 120%;
    background-position: center;
}

.courses-filter {
    display: flex;
    justify-content: space-evenly;
}

.courses-filter button {
    padding: 5px;
    border-radius: 10px;
}

.show {
    transition: transform .8s;
}

.hide {
    transform: scale(0);
    position: relative;
    animation: hide 1s .6s forwards;
}

.wave-black,
.wave-gray {
    width: 100%;
    aspect-ratio: 9/2;
    background: url('../image/wave-black.svg');
}

.header-wave {
    position: absolute;
    bottom: 0;
}

.wave-gray {background: url('../image/wave-gray.svg');}

.wave-bg-black {background-color: #000000;}

@keyframes hide {
    to {
        position: absolute;
    }
}

.title-bottom {
    color: #fff;
    max-width: 600px;
    padding: 10px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    border: 1px solid #7EB928;
}

.text-one-color {
    color: #7EB928;
}

.taj {
    text-align: justify;
}

.mentor-card {
    width: 75%;
}

.mentor-card.right {
    flex-direction: row-reverse !important;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

.mentor-card p {
    font-size: 20px;
    text-align: justify;
}

.react-reveal {
    height: 100% !important;
}

@media screen and (max-width: 1000px) {
    .mentor-card {width: 100%;}
}

@media screen and (max-width: 780px) {
    .mentor-card h1 {
        font-size: 25px;
    }

    .mentor-card img {
        width: 180px !important;
        height: 180px !important;
    }

    .mentor-card h4 {
        font-size: 18px;
    }

    .mentor-card p {
        font-size: 15px;
    }
}

@media screen and (max-width: 465px) {
    .mentor-card h1 {
        font-size: 18px;
    }

    .mentor-card img {
        width: 180px !important;
        height: 180px !important;
    }

    .mentor-card h4 {
        font-size: 13px;
    }

    .mentor-card p {
        font-size: 10px;
    }
}

@media screen and (max-width: 620px) {
    .about-today {
        background-size: 100% auto;
        height: 400px;
    }

    .title-bottom {
        font-size: 16px;
        margin: 0 10px;
    }
}

@media screen and (max-width: 575px) {
    .pupil-card,
    .courses-card {
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .about-today {
        height: 250px;
    }
}

.mentor-card-body {
    overflow: scroll;
}